@import "../../../scss/index.scss";
.portfolio {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;

    h2 {
      color: $font-light;
      span {
        color: $primary-color;
      }
    }
  }
  &__container {
    display: flex;
    border: 0;
    background-color: $background-dark-light-web;
    // text-align: center;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  }
  &__header {
    border-right: 1px solid $primary-color;
    padding: 20px;
    text-align: center;
    h2 {
      color: $primary-color-dark;
    }
    h4 {
      color: $primary-color;
    }
    img {
      border-radius: 50%;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
      margin: 10px;
      transition: 0.2s;

      &:hover {
        box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.6);
      }
    }

    &__social {
      div {
        display: flex;
        justify-content: center !important;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    p {
      margin-top: 50px;
      color: $primary-color-dark;
      span {
        font-style: italic;
        color: #fff;
        text-align: justify !important;
      }
    }
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 764px) {
  .portfolio {
    &__container {
      display: block;
    }
    &__header {
      border: 0;
    }
    &__description {
      p {
        margin-top: 0;
      }
    }
  }
}
